<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smmpay.respository.dao.FnlLogMapper" >
  <resultMap id="BaseResultMap" type="com.smmpay.respository.model.FnlLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fnlAccount" property="fnlaccount" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="createdAt" property="createdat" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fnlAccount, type, content, createdAt
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fnl_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fnl_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.smmpay.respository.model.FnlLog" >
    insert into fnl_log (id, fnlAccount, type, 
      content, createdAt)
    values (#{id,jdbcType=INTEGER}, #{fnlaccount,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{createdat,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.smmpay.respository.model.FnlLog" >
    insert into fnl_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fnlaccount != null" >
        fnlAccount,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createdat != null" >
        createdAt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fnlaccount != null" >
        #{fnlaccount,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createdat != null" >
        #{createdat,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smmpay.respository.model.FnlLog" >
    update fnl_log
    <set >
      <if test="fnlaccount != null" >
        fnlAccount = #{fnlaccount,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createdat != null" >
        createdAt = #{createdat,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smmpay.respository.model.FnlLog" >
    update fnl_log
    set fnlAccount = #{fnlaccount,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      createdAt = #{createdat,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>